:root {
    --background: whitesmoke;
    --color: #252525;
    --primary: slateblue;
}

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-color: var(--background);
    color: var(--color);
}

.container {
    width: 70%;
    margin: 0 auto;
}

nav {
    padding: 20px 0;
    border-bottom: 1px solid white;
}

.nav__logo {
    width: 35px;
}

.nav_btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_btns>a {
    text-decoration: none;
    color: var(--color);
    font-weight: 500;
}

.nav_btns>button {
    border: none;
    font-size: 1rem;
    color: var(--color);
    font-weight: 500;
    cursor: pointer;
}

a.active {
    color: var(--primary);
    font-weight: 600;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__register {
    background-color: var(--primary);
    color: var(--background) !important;
    padding: 7px 25px;
    border-radius: 3px;
}

.nav_categories {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80px;
    background-color: white;
    /* padding: 20px 50px; */
}

.nav_categories>a {
    text-decoration: none;
    color: var(--color);
    padding: 10px 50px;
    border-bottom: 1px solid var(--background);
}

.nav_categories>a:hover {
    background-color: var(--primary);
    color: var(--background);
}

.home,
.page {
    padding: 20px 0;
}

.card__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card__img {
    width: 100%;
    border-radius: 10px;
}

.home__card {
    padding: 21px;
    border-radius: 10px;
    background-color: white;
}

.card__h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary);
}

.home__card>a {
    text-decoration: none;
}

.card__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.card__bottom>a,
.card__bottom>p {
    padding: 5px 10px;
    background-color: var(--primary);
    color: var(--background);
    border-radius: 2px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.about__right>img {
    width: 400px;
}

.about__left>p {
    font-size: 1.3rem;
}

.about__right {
    text-align: center;
}

.register__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    background-color: white;
    gap: 100px;
}

.register__left {
    display: flex;
    flex-direction: column;
}

.register__left>input[type="text"],
.register__left>input[type="email"],
.register__left>input[type="password"] {
    width: auto;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: var(--background);
    margin: 5px 0;
    font-size: 1rem;
}

.register__left>input[type="file"] {
    font-size: 1rem;
}

.register__left>button {
    width: 182px;
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
    padding: 8px 10px;
    background-color: var(--primary);
    color: var(--background);
    border: none;
    margin-top: 8px;
    cursor: pointer;
}

.register__right>img {
    width: 250px;
}

.the__title {
    color: var(--primary);
    font-style: italic;
    margin-bottom: 10px;
}

.login__left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__left>img {
    width: 250px;
}

.login__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
}

form.login__right {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 5px;
}

.login__right>button {
    width: 250px;
    font-size: 1rem;
    border: none;
    padding: 10px 10px;
    background-color: var(--primary);
    color: var(--background);
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
}

.login__right>input {
    padding: 10px 10px;
    border: none;
    outline: none;
    background-color: var(--background);
    font-size: 1rem;
}

.login__register {
    margin-top: 10px;
    font-size: 1rem;
    font-style: italic;
    opacity: 80%;
}

.login__register>a {
    text-decoration: none;
    font-weight: 600;
    opacity: 80%;
}

.logout {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    color: var(--background);
    background-color: var(--primary);
    padding: 8px 40px;
}

.content {
    margin: 20px 0;
}

.content>p {
    font-size: 1rem;
    font-weight: 600;

}

.content>p>span {
    color: var(--primary);
    font-style: italic;
    margin-right: 10px;
}

.logout__btns {
    display: flex;
    align-items: center;
    gap: 5px;
}

.create__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.create__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.create__content>input,
.create__content>textarea,
.create__info>input {
    padding: 5px 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: white;
}

.create__content>textarea {
    height: 500px;
}

form.create__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.create__form>button {
    width: 150px;
    font-size: 1rem;
    border: none;
    background-color: var(--primary);
    color: var(--background);
    padding: 5px 10px;
    cursor: pointer;
}


p.card_details {
    text-align: justify;
    font-weight: 600;
}

.blog__info {
    display: flex;
    gap: 15px;
}

.blog__info>p {
    font-size: 1rem;
    padding: 5px 15px;
    background-color: var(--primary);
    color: var(--background);
    margin-top: 10px;
    border-radius: 2px;
}

p.blog__details {
    font-size: 1rem;
    font-weight: 600;
    opacity: 80%;
    text-align: justify;
}

h1.blog__title {
    font-size: 1.5rem;
    color: var(--primary);
    font-style: italic;
    margin-bottom: 5px;
}