@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #F5F5F5;
    --color: #252525;
    --primary: cadetblue;
    --secondary: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: var(--background);
    color: var(--color);
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

nav {
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid var(--secondary);
}

.nav__logo {
    width: 35px;
}

#nav-menu-open,
#nav-menu-close {
    color: var(--primary);
}

.nav_btns,
#menuPC {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_btns>#menuPC>a {
    text-decoration: none;
    color: var(--color);
    font-weight: 500;
}

.nav_btns>button,
.nav_btns>#menuPC>button,
.nav__menu {
    border: none;
    font-size: 1rem;
    color: var(--color);
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
}

.active {
    color: var(--primary) !important;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__register {
    background-color: var(--primary);
    color: var(--background) !important;
    padding: 7px 25px;
    border-radius: 3px;
}

.nav_categories {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 73px;
    background-color: var(--secondary);
    z-index: 10;
    /* padding: 20px 50px; */
}

.nav_categories>a {
    text-decoration: none;
    color: var(--color);
    padding: 10px 50px;
    border-bottom: 1px solid var(--background);
}

.nav_categories>a:hover {
    background-color: var(--primary);
    color: var(--background);
}

.home,
.page {
    padding: 20px 0;
}

.card__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card__img {
    width: 100%;
    border-radius: 10px;
}

.home__card {
    display: grid;
    align-items: end;
    padding: 21px;
    border-radius: 10px;
    background-color: var(--secondary);
    position: relative;
}

.card__top>a {
    text-decoration: none;
    color: var(--primary);
}

.card__h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary);
}

.home__card>a {
    text-decoration: none;
}

.card__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.card__bottom>a,
.card__bottom>p {
    padding: 5px 10px;
    background-color: var(--primary);
    color: var(--background);
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
}

.about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    /* gap: 25px; */
}

.about__left {
    text-align: justify;
}

.about__right>img {
    width: 250px;
}

.about__left>p {
    font-size: 1.3rem;
}

.about__right {
    text-align: center;
}

.register__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--secondary);
    gap: 100px;
    margin-top: 50px;
}

.register__left {
    display: flex;
    flex-direction: column;
}

.register__left>input[type="text"],
.register__left>input[type="email"],
.register__left>input[type="password"] {
    width: auto;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: var(--background);
    margin: 5px 0;
    font-size: 1rem;
}

.register__left>input[type="file"] {
    font-size: 1rem;
}

.register__left>button {
    width: 182px;
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
    padding: 8px 10px;
    background-color: var(--primary);
    color: var(--background);
    border: none;
    margin-top: 8px;
    cursor: pointer;
}

.register__right>img {
    width: 333px;
    position: absolute;
}

.register__right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.the__title {
    color: var(--primary);
    font-style: italic;
    margin-bottom: 10px;
}

.login__left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__left>img {
    width: 300px;
    position: absolute;
}

.login__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 25px;
    background-color: var(--secondary);
    border-radius: 10px;
    margin-top: 50px;
}

form.login__right {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 5px;
}

.login__right>button {
    width: 250px;
    font-size: 1rem;
    border: none;
    padding: 10px 10px;
    background-color: var(--primary);
    color: var(--background);
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
}

.login__right>input {
    padding: 10px 10px;
    border: none;
    outline: none;
    background-color: var(--background);
    font-size: 1rem;
}

.login__register {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 10px;
    font-size: 1rem;
    font-style: italic;
    opacity: 80%;
}

.login__register>a {
    text-decoration: none;
    font-weight: 600;
    opacity: 80%;
    color: var(--primary);
}

.about__left>h1 {
    font-size: 1.5rem;
}

.logout {
    width: 120px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    color: var(--background);
    background-color: var(--primary);
    padding: 8px 40px;
}

.content {
    margin: 20px 0;
}

.content>p {
    font-size: 1rem;
    font-weight: 600;

}

.content>p>span {
    color: var(--primary);
    font-style: italic;
    margin-right: 10px;
}

.logout__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.create__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.create__content>input,
.create__content>textarea,
.create__info>input,
#category {
    padding: 10px 10px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: var(--secondary);
}

#category {
    cursor: pointer;
}

.create>h1 {
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 5px;
}

.create__content>textarea {
    height: 350px;
    padding: 10px;
}

form.create__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create__form>button {
    width: 150px;
    font-style: italic;
    height: 40px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    background-color: var(--primary);
    color: var(--background);
    padding: 5px 10px;
    cursor: pointer;
}

p.card_details {
    text-align: justify;
    font-weight: 600;
    opacity: 80%;
}

.blog__info {
    display: flex;
    gap: 15px;
}

.blog__info>p,
.blog__info>a {
    font-size: 1rem;
    padding: 5px 15px;
    background-color: var(--primary);
    color: var(--background);
    margin-top: 10px;
    border-radius: 2px;
    text-decoration: none;
}

p.blog__details {
    font-size: 1rem;
    font-weight: 600;
    opacity: 80%;
    text-align: justify;
    white-space: pre-wrap;
}

h1.blog__title {
    font-size: 1.5rem;
    color: var(--primary);
    font-style: italic;
    margin-bottom: 5px;
}

.one {
    display: flex;
    gap: 30px;
}

.profile__table>tr>td {
    width: 10px;
    padding: 15px 50px;
    background-color: var(--secondary);
    border-radius: 2px;
}

.navbar>a {
    text-decoration: none;
    color: var(--primary);
}

.panel__form>img {
    width: 150px;
    text-align: center;
}

.panel__form {
    display: flex;
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: var(--secondary);
    border-radius: 2px;
    gap: 8px;
}

.panel__form>input {
    width: 100%;
    padding: 10px 10px;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: var(--background);
}

.panel__form>button {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: var(--primary);
    font-size: 1rem;
    color: var(--background);
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
}

.panel__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin__user {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    justify-content: center;
}

p.admin__tag {
    background-color: var(--primary);
    color: var(--background);
    padding: 5px 8px;
    border-radius: 8px;
    font-style: italic;
    text-transform: lowercase;
}

.admin__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin__logout {
    border: none;
    font-size: 1rem;
    color: var(--secondary);
    background-color: var(--primary);
    padding: 10px 25px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
}

.users {
    padding-top: 5rem;
}

.primary {
    color: var(--color);
}

.card {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--secondary);
    border: 3px solid var(--primary);
    border-radius: 5px;
}

.user_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

button.user__delete {
    border: none;
    background-color: transparent;
    color: salmon;
    font-size: 1rem;
    cursor: pointer;
}

.card>div>h3 {
    color: var(--primary);
    font-style: italic;
}

.culur {
    color: var(--color);
}

.card__date,
.tags,
p.author {
    align-items: center;
    display: flex;
    gap: 5px;
    color: var(--background);
    justify-content: center;
}

.social__card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--secondary);
    border-radius: 2px;
}

.social__card>p {
    font-style: italic;
    font-weight: 500;
}

.social__cards>a {
    text-decoration: none;
    color: var(--color);
}

.social__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.contact__dev {
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 3px;
}

.developer__about {
    font-size: 1.1rem;
    opacity: 95%;
    padding: 10px 0;
}

.intro {
    font-size: 2rem;
}

.contact {
    padding: 10vw 0;
}

.blog__info>p,
.blog__info>a {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.blog__info>a>p {

    display: flex;
    align-items: center;
    gap: 10px;

}

.article__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.article__header>a,
.article__header>h1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary);
    font-style: italic;
    font-weight: 600;
    gap: 5px;
}

section.container.home {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.content {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content>img {
    width: 100px;
}

.content>.info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info>p {
    font-weight: 600;
}

.info>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary);
}

.profile__blogs {
    padding: 20px 0;
}

.card__delete>button {
    border: none;
    color: salmon;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.card__delete {
    position: absolute;
    top: 10px;
    right: 10px;
}

.id {
    font-size: 1rem;
    font-weight: 300;
}

.ip {
    font-style: italic;
    font-weight: 700;
    color: lightseagreen;
}

@media screen and (max-width:1800px) {
    .container {
        width: 80%;
    }

    .author,
    .tags,
    .card__date {
        overflow: hidden;
    }
}

@media screen and (max-width:1600px) {
    .card__main {
        grid-template-columns: 1fr 1fr;
    }

    .user_cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1440px) {
    .social__cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .user_cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:1050px) {
    .register__right>img {
        width: 235px;
    }

    p.author,
    .tags,
    .card__date {
        flex-direction: column;
        gap: 0px;
    }

    .about {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:980px) {

    .admin__header,
    .admin__logout {
        font-size: 0.8rem;
    }

    .social__cards {
        grid-template-columns: 1fr 1fr;
    }

    .panel__form {
        width: 100%;
    }
}

@media screen and (max-width:850px) {
    .create__info {
        grid-template-columns: 1fr 1fr;
    }

    .card__main {
        grid-template-columns: 1fr;
    }

    p.author,
    .tags,
    .card__date {
        flex-direction: row;
        gap: 5px;
    }

    #menuMobile {
        display: inline-block;
    }

    #menuPC {
        position: absolute;
        flex-direction: column;
        top: 77px;
        right: 83px;
        padding: 10px;
        width: 150px;
        border-radius: 5px;
        background-color: var(--background);
        z-index: 100;
    }
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error>h1 {
    font-size: 1.5rem;
    font-style: italic;
}

.error>img {
    width: 250px;
}

@media screen and (max-width:768px) {
    .create>h1 {
        font-size: 1.5rem;
    }

    .create__info {
        grid-template-columns: 1fr;
    }

    .user_cards {
        grid-template-columns: 1fr;
    }

    table.profile__table {
        width: 100%;
    }

    .content {
        overflow-x: auto;
    }

    .login__left>img,
    .register__right>img {
        position: static;
        width: 150px;
    }

    .login__main {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .login__right>button,
    .register__left>button {
        width: 138px;
    }

    .register__main {
        gap: 10px;
        grid-template-columns: 1fr;
    }

    .register__left {
        order: 1;
    }

    .register__right {
        justify-content: center;
    }

    #menuPC {
        right: 10%;
    }
}

@media screen and (max-width:600px) {
    .users {
        padding-top: 2rem;
    }

    .profile__table>tr>td {
        padding: 10px 10px;
    }

    .social__cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:500px) {
    .container {
        width: 85%;
    }

    .blog__info {
        flex-direction: column;
        gap: 0;
        margin-top: 10px;
    }

    .blog__info>a,
    .blog__info>p {
        margin-top: 2px;
    }

    .admin__header {
        font-size: 0.6rem;
    }

    .the__title {
        font-size: 1.5rem;
    }

    .card__bottom {
        grid-template-columns: 1fr 1fr;
    }

    .about__right>img {
        width: 150px;
    }

    .about__left>p {
        font-size: 1rem;
        font-weight: 600;
        opacity: 80%;
    }

    .logout__btns {
        flex-direction: column;
    }
}

@media screen and (max-width:400px) {
    .card {
        gap: 10px;
    }
}

@media screen and (max-width:350px) {

    .login__left>img,
    .register__right>img {
        width: 100px;
    }

    .card {
        padding: 2px;
        gap: 0;
    }

    .card__bottom {
        grid-template-columns: 1fr;
    }
}